{% extends 'base.html.twig' %}

{% block page_title %}
    {% trans %}Articles list{% endtrans %}
{% endblock %}

{% block page_subtitle %}
    {% trans %}No description{% endtrans %}
{% endblock %}

{% block javascripts %}{{ parent() }}
    <script type="text/javascript">
    $(function() {
        $("#table-articles").dataTable();
    });
    </script>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{% trans %}List of elements{% endtrans %}</h3>
                    <div class="box-tools">
                        <a class="btn btn-primary" href="{{ path('admin_article_new') }}"><i class="fa fa-plus"></i> {% trans %}New item{% endtrans %}</a>
                    </div>                    
                </div>
                
                <div class="box-body no-padding">
                    <table id="table-articles" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>{% trans %}Slug{% endtrans %}</th>
                                <th>{% trans %}Articletitle{% endtrans %}</th>
                                <th>{% trans %}Articlecontent{% endtrans %}</th>
                                <th>{% trans %}Id{% endtrans %}</th>
                                <th>{% trans %}Actions{% endtrans %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for article in articles %}
                            <tr>
                                <td>{{ article.slug }}</td>
                                <td>{{ article.articleTitle }}</td>
                                <td>{{ article.articleContent }}</td>
                                <td>{{ article.id }}</td>
                                <td>
                                    <a class="btn btn-default" href="{{ path('admin_article_show', { 'id': article.id }) }}"><i class="fa fa-eye"></i> show</a>
                                    <a class="btn btn-default" href="{{ path('admin_article_edit', { 'id': article.id }) }}"><i class="fa fa-edit"></i> edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {#
                <div class="box-footer clearfix">
                  <ul class="pagination pagination-sm no-margin pull-right">
                    <li><a href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">»</a></li>
                  </ul>
                </div>
                #}
            </div>
        </div>
    </div>
    

{% endblock %}
